<%= form_for(@user) do |f| %>
  <%= show_errors_tag @user %>

  <fieldset>
    <div class="actions">

      <table>
        <tbody>
          <tr>
            <TD><%=f.label :name %></TD>
            <TD>
              <%=f.text_field :name %>
              <%= error_tag @user, :name %>
            </TD>
          </tr>
          <tr>
            <TD><%=f.label :email %></TD>
            <TD>
              <%=f.text_field :email %>
              <%= error_tag @user, :email %>
            </TD>
          </tr>
          <tr>
            <TD><%=f.label :password %></TD>
            <TD>
              <%=f.password_field :password %>
              <%= error_tag @user, :password %>
            </TD>
          </tr>
          <tr>
            <TD><%=f.label :password_confirmation %></TD>
            <TD>
              <%=f.password_field :password_confirmation %>
              <%= error_tag @user, :password_confirmation %>
            </TD>
          </tr>
        </tbody>
      </table>

      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
