<h1><%= t('.title')%></h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to t('links.show'), user %></td>
        <td><%= link_to t('links.edit'), edit_user_path(user) %></td>
        <td><%= link_to t('links.destroy'), user, method: :delete, data: { confirm: t('links.question_destroy') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new'), new_user_path %>
