<h3><%=@beer.name %></h3>

  <%= render :partial => 'review', :object => @user_review %>

  <fieldset>
    <div class="actions">
      <table>
        <tbody>
          <tr>
            <TD><%=@beer.style %></TD>
          </tr>
          <tr>
            <TD><%=@beer.brewery %></TD>
          </tr>
          <tr>
            <TD><%=@beer.location %></TD>
          </tr>
          <tr>
            <TD><%=@beer.color %></TD>
          </tr>
          <tr>
            <TD><%=@beer.alcohol %></TD>
          </tr>
          <tr>
            <TD><%=@beer.foam %></TD>
          </tr>
          <tr>
            <TD><%=@beer.aroma %></TD>
          </tr>
          <tr>
            <TD>
              <%= text_area_tag :description, @beer.description, :size=> "80x6", :disabled => true%>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>

<%= link_to t('links.edit'), edit_beer_path(@beer) %> |
<%= link_to t('links.back'), beers_path %>
